
.navbar{
  top: 0px;
  height: 65px;
  position: sticky;
  position:-webkit-sticky;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 0px 10px -4px;
}
/*rgb(11, 8, 26);*/

.FIU{
  font-family:sans-serif;
  font-size: 40px;
  font-weight: bold;
  float: left;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  color: black;
}

.Bis{
  font-family:sans-serif;
  font-size: 40px;
  font-weight: bold;
  float: left;
  text-align: center;
  padding-top: 10px;
  margin-left: 50px;

}

.firstpage{
  height: 600px;
  /* background-image: url("oceand.jpg"); */
  background-color: rgb(17, 23, 48);
  background-repeat: no-repeat, repeat;
  background-size: 1920px;
  margin-bottom: 2%;
}

.firstmessage{
  font-family:sans-serif;
  font-weight: bold;
  font-size: 100px;
  padding-left: 33%;
  padding-top: 150px;
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
}

#mapbutton{
  padding: 10px 60px;
  border: none;
  color: rgb(0, 0, 0);
  background-color: rgb(16, 20, 36);
  background-color: rgb(241, 243, 125);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-weight: 400;
  transition-duration: 0.3s;
  border-radius: 10px;
  
}

#mapbutton:hover{
  background-color: white;
  cursor:pointer;
  color: rgb(16, 20, 36);
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.4);
}
#image{
  margin-left: 10%;
  margin-top: 5%;
  width: 40%;
  border-radius: 2%;
  box-shadow: 0px 0px 50px -20px;
}

.biscayne{
  padding-top: 20px;
}
.Title{
  font-family:sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  /* text-decoration: underline; */

  margin: 0% 20%;
  
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  padding-bottom: 1%;
  
}

.info{
  padding-bottom: 50px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 60%;
  margin: 0% 20%;
  line-height: 1.5;
  
}

body {
    margin: 0;
    padding: 0;
  }

.mapcontainer{
    top: 0;
    bottom: 0;
    height: 850px;
    position: relative;
    padding-bottom: 0%;
    padding-top: 2%;
    margin: 0% 0%;
    background-color: rgb(255, 255, 255);
}


#map {
  top: 0;
  bottom: 0;
  height: 650px;
  width: 90%;
  float: left;
  
  margin: 0% 5%;
}

.optionsContainer{
    position: relative;
    /* margin-right: 10%; */
    width: 90%;
    margin: 0% 5%;
    
}

.optionbuttons{
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(0, 0, 0);
  width: 16.66666%; 
  /* display:Block; */
  float: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding: 31px 0px;
  transition-duration: 0.3s;
}

.optionbuttons:hover{
  background-color: #1d1f27;
  color: rgb(255, 255, 255);
  cursor:pointer;
}

.optionbuttons:focus{
  background-color: #1d1f27;
  color: rgb(255, 255, 255);
  cursor:pointer;
}

.focus{
  background-color: #1d1f27;
  border: none;
  color: white;
  width: 15%; 
  display:Block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding: 31px 0px;
  transition-duration: 0.3s;
  cursor: pointer;

}


.information{
  height: 500px;
  margin: 0% 0%;
}

.informationBox{
  border-radius: 5px;
  float:left;
  width: 70%;
  height: 350px;
  margin: 1% 15%;
  box-shadow: 0px 10px 20px rgb(216, 213, 213);
  color: rgb(0, 0, 0);
}

.informationTitle{
  font-family:sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.infoText{
  padding-bottom: 50px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin: 2% 10%;
  line-height: 1.5;
}

